/* =============
    section 1
============= */

#section1{

    overflow: hidden;
    
    >div{
    background-image: url('../img/section1/hero.jpg');
    background-position: 50% 90%;
    height: 1000px;
    background-size: cover;
    }

    @include md {
        background-position: 20% 50%;
        height: 950px;
    }

    @include lg {
        background-position: center;
        height: 800px;
    }



}