/* =============
    section 8
============= */



#section8{
    background-color: $black;

#cat{
    background-image: url("../img/section8/catt.png");
    background-position: 50% 85%;
    background-repeat: no-repeat;
    height: 500px;

    @include lg{
        background-position: left;}
        
    }

    grid-area: cat;
}

#quote{
    background-image: url("../img/section8/madquote.png");
    background-position: top;
    background-repeat: no-repeat;
    height: 445px;
    grid-area: quote;

    @include lg{
        background-position: top right;
    }
}




@include lg{
    background-position: left;}
      

// #up{
//     @include md{
//         display: grid;
//         grid-template-columns: 50% 50%;
        
        
//     }
        
    
//     }
  
