/* =============
    section 4
============= */


#section4 {

    background: rgb(124, 112, 125);
    background: linear-gradient(0deg, rgba(124, 112, 125, 1) 0%, rgba(160, 141, 161, 1) 100%);
    padding-top: 10px;

    h1 {
        text-align: center;
        font-size: 45px;
        color: $white;
    }
    
    .tea{
        img {
            width: 100%;
        }

        display: grid;
        grid-template-columns: 50px auto 50px;
        grid-template-areas: 
        ". tea1 ."
        ". tea2 ."
        ". tea3 .";
        row-gap: 20px;

    }

    @include md {

        #section4-img {

            .tea {
                img {
                    width: 100%;
                }

                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-areas: "la tea1 tea2 tea3 ra"
                ". . button . .";
                column-gap: 10px;

            }

        }



    }


    #tea1 {
        grid-area: tea1;
    }

    #tea2 {
        grid-area: tea2;
    }

    #tea3 {
        grid-area: tea3;
    }

    #la {

        grid-area: la;

        width: 10%;
        padding-top: 28%;
        padding-left: 70%;
    }

    #ra {

        grid-area: ra;

        width: 10%;
        padding-top: 28%;
        padding-left: 20%;


    }


    #button {
        grid-area: button;
        width: 15%;
        padding-left: 40%;
    }



    text-align: center;

    button {
        border: 1px $yellow solid;
        color: white;
        background-color: $yellow;
        border-radius: 100px;
        padding: 15px 30px;
        text-align: center;
        margin-bottom: 40px;
        margin-top: 10px;
        cursor: pointer;
    }
    .yellowbutton{background-color: $yellow; }
    .yellowbutton:hover{background-color: $lightpurple;}



    @media (max-width:767px) {
        #ra {
            display: none;
        }

        #la {
            display: none;
        }

        #button {
            display: none;
        }
    }

}