/* =============
    section 9
============= */


 
#section9{

    background-color: $purple;
    // background-color: -webkit-linear-gradient(top,black 50%, yellow 50%);
    // background-color: -moz-linear-gradient(black, yellow);
    width: 100%;
    background-size: 10px;
    #tea{
    background-image: url('../img/section9/teaparty.png');
    background-position: top;
    background-size: 100%;
    height: 160px;
    background-repeat: no-repeat;

    @include md{
        background-size: 60%;
        padding-bottom: 30px;


    }


    @include lg{
        background-size: 50%;
        height: 200px;

    }
    }

   


    
}
    