/* =============
    section 3
============= */


#section3{

    background-color: $black;


h2{
    text-align: center;
    font-size: 45px;
    color:$white;
}

h1{
    color:$white;
}




.alice{
    grid-area: alice;
}

#cat{
    grid-area: cat;
}

#bug{
    grid-area: bug;
}

#hare{
    grid-area: hare;
}

#madhatter{
    grid-area: madhatter;
}

#mouse{
    grid-area: mouse;
}

#red{
    grid-area: redqueen;
}

#white{
    grid-area: whitequeen;
}

#rabbit{
    grid-area: rabbit;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    " . alice . "
    ". . madhatter"
    " . cat ."
    ". . bug"
    ". whitequeen . "
    ". . redqueen"
    ". rabbit ."
    ". . mouse"
    ". hare .";


    text-align: center;
}




background-image: url('../img/section3/cards/cardbottomleft.png'), url('../img/section3/cards/cardbottomright.png'), url('../img/section3/cards/cardtopleft.png'), url('../img/section3/cards/cardtopright.png');
        background-repeat: no-repeat;
        background-position: left bottom, right bottom, left top, right top;
        background-size: 30%, 40%, 40%, 30%;



    @include md{


        background-image: url('../img/section3/cards/cardbottomleft.png'), url('../img/section3/cards/cardbottomright.png'), url('../img/section3/cards/cardtopleft.png'), url('../img/section3/cards/cardtopright.png');
        background-repeat: no-repeat;
        background-position: left bottom, right bottom, left top, right top;
        background-size: 30%, 30%, 30%, 30%;

        .wrapper{

            display: grid;
            grid-template-columns: repeat( 5, 1fr);
          grid-template-areas: " . . alice . . "
          " . cat . madhatter ."
          ". whitequeen . redqueen ."
          ". bug . rabbit . "
          ". hare . mouse .";
        
          text-align: center;
        
        }

    }


    @include lg{
        background-image: url('../img/section3/cards/cardbottomleft.png'), url('../img/section3/cards/cardbottomright.png'), url('../img/section3/cards/cardtopleft.png'), url('../img/section3/cards/cardtopright.png');
        background-repeat: no-repeat;
        background-position: left bottom, right bottom, left top, right top;
        background-size: 17%;

        
        .wrapper{
            display: grid;
            grid-row-gap: 30px;
            grid-template-areas: repeat(5, 1fr);
            grid-template-areas: 
            " . alice madhatter bug ."
            " . whitequeen redqueen cat ."
            " . hare mouse rabbit .";
        }
       
            
    }


}