/* =============
    section 2
============= */


#section2 {

    background-color: $black;
    padding-top: 50px;
    text-align: center;

    background-image: url('../img/section2/cat.png'), url('../img/section2/flowerbottomleft.png'), url('../img/section2/flowerbottomright.png');
    background-repeat: no-repeat;
    background-position: 25% 10%, -10%, 110%;
    background-size: 35%, 55%, 55%;

    h1 {
        text-align: center;
        font-size: 65px;
        line-height: 40px;
        color: $white;
    }


    h4 {
        text-align: center;
        font-size: 25px;
        line-height: 0px;
        color: white;

    }

    @include md {
        background-image: url('../img/section2/cat.png'), url('../img/section2/flowerbottomleft.png'), url('../img/section2/flowerbottomright.png');
        background-repeat: no-repeat;
        background-position: 50% 9%, 0%, 100%;
        background-size: 20%, 30%, 30%;



    }

    @include lg {

        background-image: url('../img/section2/cat.png'), url('../img/section2/flowerbottomleft.png'), url('../img/section2/flowerbottomright.png');
        background-repeat: no-repeat;
        background-position: 50% 9%, 25%, 75%;
        background-size: 12%, 15%, 15%;

        h1 {
            text-align: center;
            font-size: 70px;
            line-height: 40px;
            color: $white;


        }

    }

    button{
         border: 1px $yellow solid;
            color: white;
                background-color: $yellow;
                border-radius: 100px;
                padding: 15px 60px;
                text-align: center;
                margin-bottom: 40px;
       
            
            

    }

#i1{
    margin-top: 40px;
   

    
}




}