/* =============
    section 5
============= */



#section5 {
    background: rgb(78, 66, 78);
    background: linear-gradient(0deg, rgba(78, 66, 78, 1) 0%, rgba(124, 112, 125, 1) 100%);
    text-align: center;
    padding-top: 20px;

    h1 {
        text-align: center;
        font-size: 45px;
        color: $white;
    }


    #section5-img {

        padding-bottom: 180%;

        background-image:
            url('../img/section5/path3.png'),
            url('../img/section5/quote1.png'),
            url('../img/section5/cats.png');
        background-repeat: no-repeat;
        background-position:
            40% 20%,
            bottom,
            10% 81%;
        background-size:
            200%,
            100%,
            35%;


        @include md {

            padding-bottom: 130%;
            background-image: url('../img/section5/path1.png'),
                url('../img/section5/quote1.png'),
                url('../img/section5/cats.png'),
                url('../img/section5/whiterabbit.png'),
                url('../img/section5/redqueens.png'),
                url('../img/section5/alices.png');
            background-repeat: no-repeat;
            background-position: 50% 20%,
                bottom,
                3% 80%,
                65% 16%,
                23% 42%,
                88% 65%;
            background-size: 110%,
                100%,
                25%,
                20%,
                15%,
                20%;
        }


        @include lg {
            padding-bottom: 100%;

            background-image:
                url('../img/section5/rabbits.png'),
                url('../img/section5/path1.png'),
                url('../img/section5/whiterabbit.png'),
                url('../img/section5/redqueens.png'),
                url('../img/section5/cats.png'),
                url('../img/section5/quote2.png'),
                url('../img/section5/alices.png');
            background-repeat: no-repeat;
            background-position:
                99% 35%,
                60% 12.5%,
                65% 13%,
                2% 25%,
                15% 84%,
                bottom,
                72% 70%;
            background-size:
                18%,
                80%,
                12%,
                20%,
                20%,
                100%,
                20%;
        }

    }



}