/* =============
    section 1
============= */

#section1 {

    background-image: url('../img/section1/hero.jpg');
    background-position: 50% 90%;
    height: 800px;

    @include md {
        background-position: 20% 50%;
        height: 950px;
    }

    @include lg {
        background-position: center;
        height: 950px;
    }


}