/* =============
    section 5
============= */



#section5{

background-color: $purple;
padding-top: 20px;

h1{
    text-align: center;
    font-size: 45px;
    color:$white;
}


p{
    text-align: center;
    font-size: 30px;
}

}