/* =============
    Footer
============= */


/* =============
    Footer
============= */

/* =============
    Footer
============= */
footer {
    
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;

    background-color: $black;
    padding: 30px 0 30px;
    text-align: center;

    #footer-content {
        h1 {
            font-size: 1em;
            color: $white;
        }
        @include lg {
          text-align: right;
          padding-right: 1em;
        }

        ul {

            @include lg {
                display: flex;
            justify-content: left;
            }
            display: flex;
            justify-content: center;

            li {
                margin: 0 10px;
        

                a:link,
                a:visited {
                    color: $gray;
                    transition: 0.25s;
                    font-size: rem-calc(25);
                }

                a:hover,
                a:active {
                    color: $gray;
                }
            }
        }
    }
}