/* =============
    Header
============= */


/* =============
    Header
============= */
header {
    background-color: $yellow;
    left: 0;
    position: sticky;
    top: 0;
    width: 100%;


    >div {
        display: grid;
        grid-template-areas: "logo burger"
            "nav nav1";
        grid-template-columns: 50% auto;

        img {
            width: 20%;
            align-self: center;
        }

        @include lg {
            grid-template-areas: " nav logo nav1";
            grid-template-columns: auto 15% auto;
        }

        #logo-container {
            grid-area: logo;
            padding: 0px 20px;

            @include lg {

                h1 {
                    img {
                        padding-left: 45px;
                        width: 35%;
                        align-self: center;
                    }
                }
            }
        }



        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            justify-content: flex-end;
            padding: 20px;



            @include lg {
                display: none !important;
            }

            i {
                cursor: pointer;
            }
        }

        #nav-container {
            background-color: $yellow;
            display: none;
            grid-area: nav;
            padding: 0px 40px;

            @include lg {
                background-color: $yellow;
                display: block !important;
            }
        }

        #nav-container2 {
            background-color: $yellow;
            display: none;
            grid-area: nav1;
            padding: 0px 20px;

            @include lg {
                background-color: $yellow;
                display: block !important;
            }
        }
    }


}